{
    "gilhari_microservice_name": "supply_chain_service",
    "jdx_orm_spec_file": "./config/supply_chain.jdx",
    "jdbc_driver_path": "/node/node_modules/jdxnode/external_libs/mssql-jdbc-12.4.2.jre11.jar",
    "jdx_debug_level": 5,
    "jdx_force_create_schema": "false",
    "jdx_persistent_classes_location": "./bin",
    "classnames_map_file": "config/classnames_map.json",
    "gilhari_rest_server_port": 8081
}
