# Authentication (Provide either OPENAI_API_KEY or GEMINI_API_KEY)
# LLM_PROVIDER can be 'google' or 'openai'
LLM_PROVIDER=google

# For LLM_PROVIDER=google
GEMINI_API_KEY=your_gemini_api_key_here
GOOGLE_MODEL_NAME=gemini-flash-lite-latest

# For LLM_PROVIDER=openai
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL_NAME=gpt-4o-mini

# MCP Server Configuration
GILHARI_BASE_URL=http://localhost:80/gilhari/v1/
MCP_SERVER_NAME=SupplyChainMCP

APP_PASSWORD=secret123