fastapi>=0.111.0
uvicorn>=0.30.1
openai>=1.35.7
pydantic>=2.8.0
mcp>=0.5.1
python-dotenv>=1.0.1
httpx>=0.27.0
langchain>=0.3.0
langchain-openai>=0.2.0
langgraph>=0.2.14
langchain-google-genai>=1.0.0
pyodbc>=5.1.0
ormcp-server


